<div class="page">

  <section class="hero">

    <span class="hero-badge">
      Agricultura Familiar
    </span>

    <h1>
      Encontre produtos frescos produzidos perto de você
    </h1>

    <p>
      Conectamos consumidores a produtores locais, fortalecendo a economia regional e valorizando quem produz.
    </p>

  </section>

  <section class="filtros">

    <input
      type="text"
      placeholder="Buscar produto ou produtor..."
      [(ngModel)]="busca"
      class="input-busca"
    >

    <select [(ngModel)]="cidade" class="select">

      <option value="">
        Todas as cidades
      </option>

      <option *ngFor="let c of cidades">
        {{ c }}
      </option>

    </select>

    <select [(ngModel)]="tipoProduto" class="select">

      <option value="">
        Todas as categorias
      </option>

      <option *ngFor="let t of tiposProdutos">
        {{ t }}
      </option>

    </select>

  </section>

  <section class="produtos-grid">

    <div
      class="produto-card"
      *ngFor="let produto of produtosFiltrados"
      (click)="verProduto(produto)"
    >

      <div class="produto-img">

        <img
          [src]="produto.imagem"
          [alt]="produto.nome"
        >

        <span class="badge">
          {{ produto.quantidade }} disponíveis
        </span>

      </div>

      <div class="produto-info">

        <span class="categoria">
          {{ produto.categoria }}
        </span>

        <h2>
          {{ produto.nome }}
        </h2>

        <div class="produtor-box">

          <div class="avatar">
            {{ produto.produtor.charAt(0) }}
          </div>

          <div>

            <p class="produtor-nome produtor-link"
            (click)="$event.stopPropagation()"
          >
            {{ produto.produtor }}
            </p>

            <p class="cidade">
              {{ produto.cidade }}
            </p>

          </div>

        </div>

        <div class="footer-card">

          <div>

            <span class="label-preco">
              Valor
            </span>

            <div class="preco">
              R$ {{ produto.preco }}/{{ produto.unidade }}
            </div>

          </div>

          <button
            class="btn"
            (click)="$event.stopPropagation()"
          >
            Contato
          </button>

        </div>

      </div>

    </div>

  </section>

</div>