.login-page{

  min-height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  background:linear-gradient(
    135deg,
    #FFD600,
    #FFE95A
  );

  padding:20px;

}

.login-card{

  width:100%;
  max-width:380px;

  background:white;

  border-radius:20px;

  padding:40px;

  box-shadow:
  0 20px 40px rgba(0,0,0,0.15);

  text-align:center;

}

.logo{

  font-size:32px;
  font-weight:700;

  color:#111;

  margin-bottom:5px;

}

.subtitulo{

  color:#666;

  margin-bottom:30px;

}

.input{

  width:100%;

  padding:14px;

  margin-bottom:15px;

  border-radius:12px;

  border:1px solid #eee;

  font-size:15px;

}

.input:focus{

  outline:none;

  border:1px solid #FFD600;

}

.btn-login{

  width:100%;

  padding:14px;

  border:none;

  border-radius:12px;

  background:#111;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

  transition:0.2s;

}

.btn-login:hover{

  background:#333;

}

.cadastro{

  margin-top:20px;

  font-size:14px;

}

.cadastro span{

  color:#FFD600;

  font-weight:600;

  cursor:pointer;

}